
@menubar-height: 42px;
// 主色调
@primary: #3ea8dd;

@window-height:calc(100% - 42px);

.title{
  font-size:20px;
  font-weight:400;
  color:rgba(34,34,34,1);
  line-height:32px;
  margin-top: 25px;
  margin-bottom: 40px;
  cursor: pointer;
  flex-shrink: 0;
}

.button2{
  width:90px;
  height:32px;
  line-height: 32px;
  background:@primary;
  border-radius:4px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.button4{
  width:127px;
  height:32px;
  line-height: 32px;
  background:@primary;
  border-radius:4px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.mr-20{
  margin-right: 20px;
}


.mt-40{
  margin-top: 40px;
}

.mt-30{
  margin-top: 30px;
}

.mt-20{
  margin-top: 20px;
}
.mt-10{
  margin-top: 10px;
}
.mt-5{
  margin-top: 5px;
}
