@import "~@/assets/less/style.less";
.lesson-play{
  width: 100%;
  height: @window-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &-left{
    width: 400px;
    height: 100%;

    &-top{
      width: 100%;
      //height: 90% !important;
    }
    &-bottom{
      width: 100%;
      //height: 10% !important;
    }
  }
  .play-container{
    width: calc(100% - 400px);
    height: 100%;
    display: flex;
    flex-direction: column;

    .player{
      width: 100% !important;
      height: 100% !important;
      background-color: black;
      .videostyle{
        display: inline-flex;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}
